* {
    font-family: "SF Pro Text", "JetBrains Mono Nerd Font Propo", sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px;
}

window#waybar {
    background-color: rgba(255, 255, 255, 0);
    color: #e0e0e0;
}

#workspaces {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    box-shadow: inset 0 0 3px 2px rgba(0, 0, 0, 0.15);
    margin-top: 5px;
}

#workspaces button {
    color: rgba(235, 210, 255, 0.45);
    border: none;
    margin: 2px 0px;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 12px;
    transition-property: padding, background-color, color, box-shadow, border-radius, margin;
    transition-duration: 0.16s;
}

#workspaces button:first-child {
    margin-left: 5px;
}

#workspaces button:last-child {
    margin-right: 5px;
}

#workspaces button.active {
    margin: 2px;
    color: white;
    background-color: rgba(170, 10, 220, 0.8);
    padding: 0 16px;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.modules-center {
    margin-top: 7px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.modules-center .module {
    margin: 0 20px;
}

window#waybar.empty #window {
    margin: 0 4px;
}

#battery,
#network,
#pulseaudio,
#power-profiles-daemon {
    padding: 0 10px;
    margin: 0 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.9);
}

.modules-right {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(150, 0, 204, 0);
    margin-right: 8px;
}

#battery {
    background-color: rgba(0, 204, 51, 0);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ff0000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: rgba(255, 80, 90, 1);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding: 0 5px;
}

#power-profiles-daemon.performance {
    background-color: rgba(0, 102, 204, 0);
}

#power-profiles-daemon.balanced {
    background-color: rgba(0, 102, 204, 0);
}

#power-profiles-daemon.power-saver {
    background-color: rgba(0, 102, 204, 0);
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    color: rgba(255, 60, 75, 1);
}

#pulseaudio {
    margin-left: 8px;
}

#pulseaudio.muted {
    color: rgba(255, 255, 255, 0.3);
}
