@define-color bg              #141414;
@define-color tooltip-bg      #080808;
@define-color tooltip-border  rgba(255, 255, 255, 0.3);
@define-color main-text       #c0c0c0;
@define-color button-text     #404040;
@define-color error-text      #FF8282;
@define-color warning-text    #FF9682;
@define-color vol-muted       #606060;
@define-color dark-text       #181818;

* {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
}

tooltip {
  background: @tooltip-bg;
  border-radius: 10px;
  border: 1px solid @tooltip-border;
}

tooltip label {
  color: @main-text;
  font-size: 16px;
  font-weight: 300;
  padding: 0 6px;
}

window#waybar {
  background: @bg;
}

.modules-left {
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
}

#workspaces {
  margin: 0;
  padding: 0;
}

#workspaces button {
  min-height: 0;
  color: @main-text;
  padding: 0 4px;
  background: transparent;
  margin: 0;
}

#workspaces button label {
  font-weight: 500;
  padding: 0 3px;
}

#workspaces button.active {
  margin: 0;
  color: @dark-text;
  background: @main-text;
}

#workspaces button.active label {
  font-weight: 500;
}

.modules-center {
  margin: 0px;
  padding: 0px 16px;
}

#clock {
  color: @main-text;
  font-weight: 700;
}

#window {
  color: @main-text;
  margin: 0 0 0 24px;
  padding: 0;
  font-weight: 300;
}

window#waybar.empty #window {
  margin: 0;
  padding: 0;
}

.modules-right {
  margin: 0;
  padding: 0;
}

.modules-right .module {
  padding: 0;
  padding-right: 24px;
  font-weight: 500;
}

#network {
  color: @main-text;
}

#network.disconnected {
  color: @error-text;
}

#pulseaudio {
  color: @main-text;
}

#pulseaudio.muted {
  color: @vol-muted;
}

#backlight {
  color: @main-text;
}

#battery {
  color: @main-text;
  background: transparent;
}

#battery.warning {
  color: @warning-text;
}

#battery.critical {
  color: @error-text;
}

#memory {
  padding-right: 8px;
}
